services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.novnc
    environment:
      USE_LOCAL_AUTH: "true"
      SESSION_PATH: /usr/src/app/session
      HEADLESS: "true"
      PUPPETEER_DEVTOOLS: "false"
    ports:
      - "5000:5000"
      - "6080:6080"
    shm_size: '2gb'
    restart: unless-stopped
    volumes:
      - session-data:/usr/src/app/session

volumes:
  session-data:
