services:
  whatsapp-api:
    build:
      context: .
    container_name: whatsapp-api
    ports:
      - "5000:5000"

    volumes:
      # Sync source code
      - ./:/app

      # Prevent override node_modules dari host
      - /app/node_modules

    # Load konfigurasi environment
    env_file:
      - ./.env

    environment:
      - IN_DOCKER=true

    cap_add:
      - SYS_ADMIN

    restart: unless-stopped
    command: node server.js
