version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.novnc
    env_file:
      - .env
    ports:
      - "5000:5000"
      - "6080:6080" # noVNC web UI
    volumes:
      - ./:/usr/src/app:cached
    restart: unless-stopped
